:root {
  --primary-font: "Abril Fatface", sans-serif;
  --second-font: "Tienne", serif;

  --bg-primary: #ffeb02;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--dark-color);
  background-color: var(--bg-primary);
}

a {
  color: #000;
}
.container {
  max-width: var(--mx-width, 1200px);
  padding: 0 var(--gutter, 15px);
  margin: 0 auto;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 10px;
}

.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu > ul > li > a {
  padding: 0 25px;
  text-decoration: none;
  gap: 5px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  color: #000000;
}

.button-navigation {
  display: flex;
  justify-content: space-between;
}

.button-navigation > a {
  padding: 0 10px;
}

.banner-content {
  position: relative;
}

.banner-content img {
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  /* background-color: rgba(255, 255, 255, 0.8); */
}

.banner-text h1 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  padding-top: 30px;

  text-align: center;

  color: #000000;
}

.banner-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140.62%;
  padding: 0 320px;
  /* or 25px */

  text-align: center;

  color: #000000;
  font-family: var(--second-font);
}

.content h3 {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 46px;
  /* identical to box height */

  color: #000000;
}

.content {
  padding: 0 20px;
  margin: 30px 0;
}

.content h3 {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 46px;
  /* identical to box height */

  color: #000000;
}

.content p {
  font-family: "Tienne";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140.62%;

  /* or 39px */

  color: #000000;
}

.most-popular {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.popular-image {
  width: 35%;
  position: relative;
}

.popular-image img {
  width: 80%;
}

.popular-image img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.popular-image img:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}

.popular-text {
  width: 65%;
  padding: 0 50px;
}

.popular-text h3 {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 46px;
  color: #000000;
}

.popular-text p {
  font-family: "Tienne";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140.62%;
  color: #000000;
}

/*CAROUSEL*/
/*Carousel section*/
.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 3rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

/*Popular Menu Section*/
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: '';
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: grey;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}