html,
body {
  font-family: Garamond;
  background: #ffeb02;
  margin: 0;
  padding: 0;
}

.popular h2 {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

/*CAROUSEL*/
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-slide {
  display: none;
}

.carousel-slide:first-child {
  display: block;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: calc(40% - 40px);
  transform: translateY(-50%);
  color: #000;
  font-size: 24px;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.carousel-prev:hover,
.carousel-next:hover {
  opacity: 1;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: #000;
}

/*POPULAR MENU*/
.menu {
  padding-left: 60px;
  padding-right: 60px;
}

div.gallery {
  border: 1px solid rgb(130, 80, 0);
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/*ALL MENU BUTTON*/
.btn-container {
  height: 20vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn {
  font-family: Garamond;
  font-size: 17px;
  font-weight: bolder;
  background: #ff9927;
  width: 400px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.btn:hover,
btn:focus,
.btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
